<section class="cafes py-5">
  <div class="container">
    <h3 class="text-center pb-5">cafes</h3>
    <div class="index">
      <% if @cafeposts.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>cafe</th>
              <th>prefecture</th>
              <th>user</th>
            </tr>
          </thead>
          <tbody>
            <% @cafeposts.each do |cafepost| %>
              <tr>
                <td><%= link_to cafepost.name, cafepost_path(cafepost) %></td>
                <td><%= cafepost.prefecture_i18n %></td>
                <td><%= link_to cafepost.user.name, user_path(cafepost.user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= paginate @cafeposts %>
        </div>
      <% end %>
    </div>
  </div>
</section>