<div class="container">
  <h3 class="text-center py-5">beans</h3>
  <div class="index">
    <% if @beanposts.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>bean</th>
            <th>price</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <% @beanposts.each do |beanpost| %>
            <tr>
              <td><%= link_to beanpost.name, beanpost_path(beanpost) %></td>
              <td>¥<%= beanpost.price %></td>
              <td><%= link_to beanpost.owner.cafename, owner_path(beanpost.owner) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate @beanposts %>
      </div>
    <% end %>
  </div>
</div>